.work-card {
  width: 16rem;
  height: 40vh;
  background: white;
  padding: 1.5rem 2rem;
  margin-right: 8rem;
  color: rgb(0, 0, 0);
  border-radius: 5px 50px 5px 50px;
  border: 1px solid rgb(165, 163, 163);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.work-card:hover :where(h1, p, span, a, i) {
  color: rgb(211, 211, 211);
}

.work-card:hover {
  background: rgba(0, 0, 0, 0.575);
}

.work hr {
  height: 3px;
  background-color: black;
}

.work-card h1 {
  font-family: "Source Sans Pro";
  font-size: 1.25rem;
  font-weight: 900;
}

.work-card p {
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.work-card .tags {
  display: flex;
  gap: 0.5rem;
}

.work-card .btn {
  display: flex;
  justify-content: space-between;
}

.work-card .btn a:nth-of-type(1) {
  width: 5rem;
  text-align: center;
  background: black;
  color: white;
  padding: 0.3rem 0.6rem;
  border-radius: 0 0px 0 50px;
}

.work-card .btn i {
  font-size: 1.7rem;
}

.work-card:hover :where(hr) {
  background: rgb(255, 255, 255);
}

.work-card:hover a:nth-of-type(1) {
  background: rgb(255, 255, 255);
  color: black;
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  .work-card {
    width: 16rem;
    background: rgba(255, 255, 255, 0.866);
    margin-right: 3rem;
  }
}
